cycler
decorator
gensim
isodate
joblib
kiwisolver
networkx
nltk
node2vec
numpy
pandas
Pillow
plyfile
protobuf
pyparsing
python-dateutil
pytz
rdflib
scikit-learn
scipy
six
tensorboardX
tensorflow
torch==1.8.0
# if issue to install torch-cluster -> need to run pip install torch before running requirements.txt
torchvision
torch-cluster
torch-geometric
torch_scatter
torch-sparse
texttable
